<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Communication Platform</title>
    <link rel="stylesheet" type="text/css" href="../static/css/landing_page.css">
    <link rel="icon" href="../../assets/icon/favicon.png" type="image/png">
</head>
<body>
<header>
    <div class="logo-container">
        <img src="../../assets/logo/mcgill_logo.jpg" alt="School Logo 1" class="school-logo">
        <img src="../../assets/logo/logo.jpg" alt="School Logo 2" class="school-logo">
    </div>
    <nav>
        <a href="login.html" class="nav-button">Login</a>
        <a href="register.html" class="nav-button">Register</a>
    </nav>
</header>
<main class="main-content">
    <div class="slogan-container">
        <h1 class="slogan">Connecting Minds, Building Futures</h1>
    </div>
    <div class="image-container">
        <img src="../../assets/pictures/lp_pic.jpg" alt="Main Aesthetic Image" class="main-image">
    </div>
</main>

</body>
</html>
