<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register Page</title>
    <link rel="stylesheet" type="text/css" href="../static/css/register.css">
    <link rel="icon" href="../../assets/icon/favicon.png" type="image/png">
</head>
<body>

<div class="red-rim"></div>
<div class="container">
    <div class="image-side">
        <img src="../../assets/pictures/mcgill_photo.jpg" alt="background">
    </div>
    <div class="form-side">
        <div class="logos">
            <img src="../../assets/logo/mcgill_logo.jpg" alt="First Logo" class="logo">
            <img src="../../assets/logo/logo.jpg" alt="Second Logo" class="logo">
        </div>
        <h2>Register</h2>

        <form id="registrationForm" action="../../register.php" method="post">
            <div class="form-group">
                <label for="first_name">First Name:</label>
                <input type="text" id="first_name" name="first_name" required>
            </div>

            <div class="form-group">
                <label for="last_name">Last Name:</label>
                <input type="text" id="last_name" name="last_name" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="Email" required>
            </div>
            <div class="form-group">
                <label for="psw">Password:</label>
                <input type="password" id="psw" name="password" required>
            </div>
            <div class="form-group">
                <label for="role">Role:</label>
                <select id="role" name="role">
                    <option value="student">Student</option>
                    <option value="professor">Professor</option>
                </select>
            </div>

            <div class = "button-group">
                <button type="submit" class = "btn" id = "register">Register</button>
                <button type="button" class = "btn" id = "login" onclick="location.href='login.html'">Login</button>
            </div>

            <div>
                <input type="hidden" id="encrypted_first_name" name="encrypted_first_name">
                <input type="hidden" id="encrypted_last_name" name="encrypted_last_name">
                <input type="hidden" id="encrypted_email" name="encrypted_email">
                <input type="hidden" id="encrypted_psw" name="encrypted_psw">
            </div>
            <div id="error-message" style="display: none; color: red;"></div>
        </form>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
<script src="../static/js/security.js"></script>
<script src="../static/js/register.js"></script>


</body>
</html>